.is-full-height {
  height: 100% !important; }

.has-page-height {
  height: 100vh !important; }

.is-half-height {
  height: 50% !important; }

.has-half-page-height {
  height: 50vh !important; }

.is-quarter-height {
  height: 25% !important; }

.has-quarter-page-height {
  height: 25vh !important; }

.is-full-width {
  width: 100% !important; }

.has-page-width {
  width: 100vw !important; }

.is-half-width {
  width: 50% !important; }

.has-half-page-width {
  width: 50vw !important; }

.is-quarter-width {
  width: 25% !important; }

.has-quarter-page-width {
  width: 25vw !important; }
