@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto:300,700');

// Update Bulma's global variables
$family-sans-serif: "Roboto", sans-serif;
$grey-dark: #424043;
$grey-light: #EFEFEF;
$primary: #4C5E7E;
$link: #4C5E7E;
$widescreen-enabled: true;
$fullhd-enabled: true;

// Update some of Bulma's component variables
$body-background-color: #fff;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";

@import 'helpers/_all.sass';
@import 'variables/_all.sass';
@import 'mixins/_all.sass';

// Custom CSS

.is-active {
    text-decoration: line-through;
}

// homepage

h1.gjf-is-display {
    font-family: 'Abril Fatface'; 
    color: #2C3236;
    font-size: 120px;
    font-weight: 400;
    letter-spacing: -6.65px;
    line-height: 38px;
}
h1.gjf-is-display span {
    color: #EFEFEF;
    font-size: 100px;
    margin-left: 0;
    margin-top: 40px;
    mix-blend-mode: overlay;
}

@media screen and (min-width: 769px) {
    h1.gjf-is-display {
        font-family: 'Abril Fatface'; 
        color: #2C3236;
        font-size: 158px;
        font-weight: 400;
        letter-spacing: -6.65px;
        line-height: 38px;
    }
    h1.gjf-is-display span {
        display: block;
        color: #EFEFEF;
        font-size: 158px;
        margin-left: 134px;
        margin-top: 0;
        mix-blend-mode: multiply;
        z-index: 0;
    }
}

/* zopa */
div.gf-mosaic1 {
    position: relative;
    background: #fff url("../images/photos/zopa/01.jpg") no-repeat top right;
    background-size: cover;
    // width: 375px;
    height: 437px;
    top: 0;
    left: 0;
}
/* svg mask */
div.gf-mosaic1 img.gf-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

/* osp */
div.gf-mosaic2 {
    position: relative;
    background: #fff url("../images/photos/osp/04.jpg") no-repeat top right;
    background-size: cover;
    height: 755px;
    top: 0;
    left: 0;
}
/* svg mask */
div.gf-mosaic2 img.gf-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

div.gf-mosaic1 div.gf-zopa {
    position: absolute;
    background: #fff url("../images/photos/zopa/02.jpg") no-repeat;
    background-size: cover;
    width: 204px;
    height: 204px;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    z-index: 0;
}

div.gf-zopa img.gf-logo, div.gf-argos img.gf-logo {
    width: 180px;
    mix-blend-mode: overlay;
    max-height: 100%;  
    max-width: 100%; 
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

@media (min-width: 1440px) {

    div.gf-mosaic1 {
        width: 648px;
        height: 756px;
    }
    div.gf-mosaic1 div.gf-zopa {
        width: 412px;
        height: 412px;
    }

}

// Argos
div.gf-argos {
    position: relative;
    background: #fff url("../images/photos/argos/01.jpg") no-repeat center right;
    background-size: cover;
}

// END homepage