@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto:300,700');

// Update Bulma's global variables
$family-sans-serif: "Roboto", sans-serif;
$grey-dark: #424043;
$grey-light: #EFEFEF;
$primary: #4C5E7E;
$link: #4C5E7E;
$widescreen-enabled: true;
$fullhd-enabled: true;

// Update some of Bulma's component variables
$body-background-color: #fff;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";

@import 'helpers/_all.sass';
@import 'variables/_all.sass';
@import 'mixins/_all.sass';

// Custom CSS

.subtitle.is-size-4 {
    line-height: 2.1rem;
}

.is-active {
    text-decoration: line-through;
}

// homepage

@media screen and (min-width: 769px) {
    .container section {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

h1.gjf-is-display {
    font-family: 'Abril Fatface'; 
    color: #2C3236;
    font-size: 120px;
    font-weight: 400;
    letter-spacing: -6.65px;
    line-height: 50px;
}
h1.gjf-is-display span {
    color: $grey-light;
    font-size: 100px;
    margin-left: 0;
    margin-top: 40px;
    mix-blend-mode: multiply;
}

@media screen and (min-width: 769px) {
    h1.gjf-is-display {
        font-family: 'Abril Fatface'; 
        color: #2C3236;
        font-size: 158px;
        font-weight: 400;
        letter-spacing: -6.65px;
        line-height: 38px;
    }
    h1.gjf-is-display span {
        display: block;
        color: $grey-light;
        font-size: 158px;
        margin-left: 134px;
        margin-top: 0;
        mix-blend-mode: multiply;
        z-index: 0;
    }
}

/* zopa */
div.gf-zopa {
    position: relative;
    background: #fff url("../images/photos/zopa/01.jpg") no-repeat top right;
    background-size: cover;
}

/* argos */
div.gf-argos {
    position: relative;
    background: #fff url("../images/photos/argos/01.jpg") no-repeat center right;
    background-size: cover;
}

/* osp */
div.gf-osp {
    background: #fff url("../images/photos/osp/04.jpg") no-repeat top right;
    background-size: cover;
}

/* fabled */
div.gf-fabled {
    background: #fff url("../images/photos/osp/01.jpg") no-repeat top left;
    background-size: cover;
}

/* argos */
div.gf-fetch {
    position: relative;
    background: #fff url("../images/photos/argos/01.jpg") no-repeat center right;
    background-size: cover;
}

/* ocado */
div.gf-ocado {
    background: #fff url("../images/photos/osp/01.jpg") no-repeat top left;
    background-size: cover;
}

// div.gf-mosaic1 div.gf-zopa {
//     position: absolute;
//     background: #fff url("../images/photos/zopa/02.jpg") no-repeat;
//     background-size: cover;
//     width: 204px;
//     height: 204px;
//     bottom: 0;
//     left: 0;
//     margin: 0;
//     padding: 0;
//     vertical-align: middle;
//     text-align: center;
//     display: table-cell;
//     z-index: 0;
// }

img.gf-logo, div.gf-argos img.gf-logo {
    width: 180px;
    mix-blend-mode: overlay;
    max-height: 100%;  
    max-width: 100%; 
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}
img.gf-logo-centered {
    position: absolute;
    max-height: 100%;  
    max-width: 100%; 
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    mix-blend-mode: overlay;  
}

@media (min-width: 1440px) {


}


// END homepage


// Line separator (decor)

.gf-sep {
    height: 5px;
    width: 150px;
    background-color: $grey-dark;
}
.gf-centered {
    margin-left: auto;
    margin-right: auto;
}
.gf-sep-full {
    width: 100%;
}
@media screen and (min-width: 769px) {
    .gf-sep {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .gf-sep-marginless {
        margin-top: 0;
        margin-bottom: 0;
    }
}

// END line separator (decor)