.align-start {
  align-content: start !important; }

.align-end {
  align-content: end !important; }

.align-flex-start {
  align-content: flex-start !important; }

.align-flex-end {
  align-content: flex-end !important; }

.align-center {
  align-content: center !important; }

.align-normal {
  align-content: normal !important; }

.align-space-between {
  align-content: space-between !important; }

.align-space-around {
  align-content: space-around !important; }

.align-space-evenly {
  align-content: space-evenly !important; }

.align-stretch {
  align-content: stretch !important; }

.align-baseline {
  align-content: baseline !important; }

.justify-left {
  justify-content: left !important; }

.justify-right {
  justify-content: right !important; }

.justify-start {
  justify-content: start !important; }

.justify-end {
  justify-content: end !important; }

.justify-flex-start {
  justify-content: flex-start !important; }

.justify-flex-end {
  justify-content: flex-end !important; }

.justify-center {
  justify-content: center !important; }

.justify-normal {
  justify-content: normal !important; }

.justify-space-between {
  justify-content: space-between !important; }

.justify-space-around {
  justify-content: space-around !important; }

.justify-space-evenly {
  justify-content: space-evenly !important; }

.justify-stretch {
  justify-content: stretch !important; }

.justify-baseline {
  justify-content: baseline !important; }
