.align-self-auto {
  align-self: auto !important; }

.align-self-flex-start {
  align-self: flex-start !important; }

.align-self-flex-end {
  align-self: flex-end !important; }

.align-self-center {
  align-self: center !important; }

.align-self-baseline {
  align-self: baseline !important; }

.align-self-stretch {
  align-self: stretch !important; }

.align-items-flex-start {
  align-items: flex-start !important; }

.align-items-flex-end {
  align-items: flex-end !important; }

.align-items-center {
  align-items: center !important; }

.align-items-baseline {
  align-items: baseline !important; }

.align-items-stretch {
  align-items: stretch !important; }
