.align-start {
  -ms-flex-line-pack: start !important;
      align-content: start !important;
}

.align-end {
  -ms-flex-line-pack: end !important;
      align-content: end !important;
}

.align-flex-start {
  -ms-flex-line-pack: start !important;
      align-content: flex-start !important;
}

.align-flex-end {
  -ms-flex-line-pack: end !important;
      align-content: flex-end !important;
}

.align-center {
  -ms-flex-line-pack: center !important;
      align-content: center !important;
}

.align-normal {
  -ms-flex-line-pack: normal !important;
      align-content: normal !important;
}

.align-space-between {
  -ms-flex-line-pack: justify !important;
      align-content: space-between !important;
}

.align-space-around {
  -ms-flex-line-pack: distribute !important;
      align-content: space-around !important;
}

.align-space-evenly {
  -ms-flex-line-pack: space-evenly !important;
      align-content: space-evenly !important;
}

.align-stretch {
  -ms-flex-line-pack: stretch !important;
      align-content: stretch !important;
}

.align-baseline {
  -ms-flex-line-pack: baseline !important;
      align-content: baseline !important;
}

.justify-left {
  -webkit-box-pack: left !important;
      -ms-flex-pack: left !important;
          justify-content: left !important;
}

.justify-right {
  -webkit-box-pack: right !important;
      -ms-flex-pack: right !important;
          justify-content: right !important;
}

.justify-start {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: start !important;
}

.justify-end {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: end !important;
}

.justify-flex-start {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}

.justify-flex-end {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

.justify-center {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.justify-normal {
  -webkit-box-pack: normal !important;
      -ms-flex-pack: normal !important;
          justify-content: normal !important;
}

.justify-space-between {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.justify-space-around {
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
}

.justify-space-evenly {
  -webkit-box-pack: space-evenly !important;
      -ms-flex-pack: space-evenly !important;
          justify-content: space-evenly !important;
}

.justify-stretch {
  -webkit-box-pack: stretch !important;
      -ms-flex-pack: stretch !important;
          justify-content: stretch !important;
}

.justify-baseline {
  -webkit-box-pack: baseline !important;
      -ms-flex-pack: baseline !important;
          justify-content: baseline !important;
}
/*# sourceMappingURL=align-justify.css.map */