.has-cursor-default {
  cursor: default !important; }

.has-cursor-pointer {
  cursor: pointer !important; }

.has-cursor-grab {
  cursor: grab !important; }

.has-cursor-help {
  cursor: help !important; }

.has-cursor-wait {
  cursor: wait !important; }

.has-cursor-crosshair {
  cursor: crosshair !important; }

.has-cursor-not-allowed {
  cursor: not-allowed !important; }

.has-cursor-zoom-in {
  cursor: zoom-in !important; }
