@tailwind base;
@tailwind components;
@tailwind utilities;

/* npx tailwindcss -i ./src/styles.css -o ./dist/styles.css --minify --watch */



html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
  }

  .bg-gray-900 {
    background-color: #111521;
  }

  .newFont {
    font-family: 'Alumni Sans', sans-serif;
  }
  .bg-accent {
      background-color: #2af6ff;
  }
  .border-r-accent {
      border-right-color: #2af6ff;
  }
  .border-l-accent {
      border-left-color: #2af6ff;
  }
  .border-b-accent {
      border-bottom-color: #2af6ff;
  }
  .text-xxs {
    font-size: 0.625rem;
  }
  .logoName {
    background: rgba(0, 0, 0, .08);
    mix-blend-mode: multiply;
  }
  .logoName h1 {
    line-height: 0.8;
  }
  @media (min-width: 768px) {
    .name {
      font-size: 26rem; 
    }
  }

  p.sub-header {
    @apply text-sm text-gray-400 italic;
  }


/* Header */

header {
  @apply fixed flex justify-between w-full z-40 top-0 p-4 lg:p-8;
}
  header div {
    @apply flex items-center justify-end gap-2 pr-2;
  }
  header h1 {
    @apply text-gray-900;
    display: none;
  }
@media (min-width: 768px) {
  header h1 {
    display: block;
    letter-spacing: 0.25rem;
    font-size: 0.75rem;
  }
}
header div:first-child {
  @apply space-x-8;
}
  header div:first-child a {
    @apply text-sm pb-2 text-gray-500 hidden lg:inline;
  }
  header div:first-child a.active {
    @apply text-gray-900 border-b-2 border-b-accent;
  }
  header div:first-child a.back {
    @apply flex p-2 pb-4 font-semibold text-gray-900;
  }
    header div:first-child a.back svg {
      @apply h-10 w-10 lg:h-8 lg:w-8;
    }
    header div:first-child a.back span {
      @apply pt-2 lg:pt-1 pl-1.5;
    }
header div:last-child {
  @apply flex pb-2 space-x-4 lg:space-x-2;
}
  header div:last-child img {
    @apply h-8 w-8 lg:h-6 lg:w-6;
  }

main {
  @apply mx-auto;
  /* max-width: 1536px; */
}
  
/* Section */
  
section {
  @apply bg-cover bg-no-repeat bg-fixed;
  /* background-image: url(img/bgblur.png); */
  padding: 4rem 0;
} 

#home section.intro  {
  padding: 6rem 0 0;
}
#home section.currently  {
  padding: 0;
}
@media (min-width: 395px) {
  #home section.currently  {
    padding-top: 0;
    @apply -mt-8;
  }
}
@media (min-width: 768px) {
  #home section.intro  {
    @apply z-50;
    background-image: url(img/me/hero-faded-ipad.jpg);
    background-position: -26rem;
    padding: 4rem 0;
  }
  #home section.currently  {
    @apply relative m-0 p-0 z-40 bg-gray-900;
    background-image: url(img/me/hero-ipad.jpg);
    background-position: -26rem;
  }
}
@media (min-width: 1024px) {
  #home section.intro  {
    background-position: center;
    padding: 6rem 0;
  }
  #home section.currently  {
    /* @apply bg-cover; */
    background-position: center;
  }
}
@media (min-width: 1280px) {
  #home section.intro  {
    background-image: url(img/me/hero-faded.jpg);
  }
  #home section.currently  {
    background-image: url(img/me/hero.jpg);
  }
}
@media (min-width: 1536px) {
  #home section.intro  {
    padding: 6rem 0;
  }
  #home section.currently  {
    @apply relative m-0 p-0 z-40 bg-gray-900 bg-center;
  }
}

section .container {
  @apply mx-auto;
  /* max-width: 1536px; */
  padding: 2rem;
}
  section div, section img {
    mix-blend-mode: multiply;
  }
  .dark div, section .dark img {
    mix-blend-mode: normal;
  }


/* Hero section */

.hero {
  @apply bg-no-repeat mx-auto px-8;
  background-image: url(img/largetxt.svg);
  background-attachment: scroll;
  background-size: cover;
  background-position: top center;
  padding-top: 2rem;
  height: 425px;
  max-width: 425px;
}
.hero h3 {
  font-size: 2.25rem;
  line-height: 23px;
}
.hero .fullname {
  position: absolute;
  margin: auto;
  top: 15.5rem; left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  mix-blend-mode: multiply;
  width: 100%;
  text-align: center;
}
  .hero .fullname h1 {
    letter-spacing: 0.5rem;
  }
  .hero .fullname h2 {
    @apply text-gray-800 tracking-tight font-extrabold uppercase newFont text-6xl;
    line-height: 62%;
  }
  .hero .fullname h2 span {
    @apply tracking-normal font-normal lowercase text-xs block;
    font-family: 'Roboto', sans-serif;
    line-height: 200%;
  }
.profile-photo {
  position: absolute;
  width: 10rem; height: 10rem;
  margin: auto;
  top: 4.2rem; left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  mix-blend-mode: multiply;
  @apply shadow-2xl;
}
.gianni-text {
  position: absolute;
  height: 460px; 
  top: 13rem; left: 50%;
  transform: translate(-54%, -50%);
}
.aboutme {
  @apply text-gray-500 text-sm md:text-xs lg:text-sm;
  position: relative;
  padding: 26.5rem 0 2rem;
  margin: 3.5rem 0 0;
  max-width: 23rem;
  z-index: 1000;
}
.whatido-list {
  @apply text-xs font-normal text-gray-400 text-right;
  position: relative;
  padding: 26.5rem 0 2rem;
  margin: 3.5rem 0 0;
  max-width: 23rem;
  z-index: 1000;
}
.whatido-01, .whatido-02, .whatido-03 {
  @apply text-sm md:text-xs md:leading-tight text-gray-500 md:text-gray-500 max-w-md;
  max-width: 22rem;
  padding: 1rem 0;
  margin: 0;
}
  .whatido-01 b, .whatido-02 b, .whatido-03 b {
    @apply block text-gray-800 tracking-tight font-extrabold uppercase leading-none my-2 newFont;
    font-size: 2.25rem;
    line-height: 23px;
  }
  .whatido-01 span, .whatido-02 span, .whatido-03 span {
    @apply block;
  }
  .whatido-01 span span, .whatido-02 span span, .whatido-03 span span {
    @apply inline md:block;
  }



@media (min-width: 768px) {

.hero {
  @apply container;
  height: 768px;
  padding-top: 25rem;
}
.hero h3 {
  font-size: 3rem;
  line-height: 32px;
}
.hero .fullname {
  display: none;
}
  .profile-photo, .gianni-text, .aboutme {
    top: 12.2rem; left: 36%;
  }
  .profile-photo {
    width: 8rem; height: 8rem;
    margin: none;
    transform: none;
  }
  .gianni-text {
    height: 450px; 
    transform: none;
  }
  .aboutme {
    position: absolute;
    max-width: 330px; 
    padding: 0 0 0 172px;
    margin: 0;
  }
  .whatido-list {
    position: absolute;
    text-align: right;
    top: 5rem;
    left: 6.5%;
    font-size: 10px;
    line-height: 14px;
  }
  .whatido-01, .whatido-02, .whatido-03 {
    position: absolute;
    max-width: 13.2rem;
    padding: 0;
    margin: 0;
  }
  .whatido-01 {
    top: 2rem; left: 36%;
  }
  .whatido-02 {
    top: 14.5rem; left: 4%;
  }
  .whatido-03 {
    top: 26.5rem; right: 2%;
  }
  .whatido-01 b, .whatido-02 b, .whatido-03 b {
    max-width: 20rem;
  }
  .whatido-01 b, .top-left-cut {
    background: #1F2938;
    background: -webkit-linear-gradient(to bottom right, #1F2938 30%, #6A7380 30%);
    background: -moz-linear-gradient(to bottom right, #1F2938 30%, #6A7380 30%);
    background: linear-gradient(to bottom right, #1F2938 35%, #6A7380 35%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .whatido-02 b {
    background: #1F2938;
    background: -webkit-linear-gradient(to bottom right, #1F2938 0%, #6A7380 30%);
    background: -moz-linear-gradient(to bottom right, #1F2938 0%, #6A7380 30%);
    background: linear-gradient(to top right, #6A7380 50%, #1F2938 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .whatido-03 b {
    background: #1F2938;
    background: -webkit-linear-gradient(to bottom right, #1F2938 30%, #6A7380 30%);
    background: -moz-linear-gradient(to bottom right, #1F2938 30%, #6A7380 30%);
    background: linear-gradient(to bottom right, #1F2938 30%, #6A7380 30%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

}

@media (min-width: 1024px) {

.hero {
  height: 1024px;
}
.hero h2 {
  @apply text-6xl;
  line-height: 60px;
}
.profile-photo, .gianni-text, .aboutme {
  top: 16.25rem; 
}
  .profile-photo {
    width: 10.2rem; height: 10.2rem;
  }
  .gianni-text {
    height: 570px; 
  }
  .aboutme {
    max-width: 404px; 
    padding: 0 0 0 220px;
  }
  .whatido-list {
    @apply text-xs;
    top: 15.2rem;
    left: 7%;
  }
  .whatido-01, .whatido-02, .whatido-03 {
    max-width: 18rem;
  }
  .whatido-01 {
    top: 2.5rem; left: 36%;
  }
  .whatido-02 {
    top: 22.08rem;
  }
  .whatido-03 {
    top: 37rem;
  }
  .whatido-01 b, .whatido-02 b, .whatido-03 b {
    font-size: 3rem;
    line-height: 32px;
  }

}

@media (min-width: 1536px) {

.hero {
  height: 1536px;
}
  .profile-photo, .gianni-text, .aboutme {
    top: 24.5rem; 
  }
  .profile-photo {
    width: 14.4rem; height: 14.4rem;
    margin-top: -4px;
  }
  .gianni-text {
    height: 780px; 
  }
  .aboutme {
    max-width: 510px; 
    padding: 0 0 0 296px;
    margin-top: -3px;
    font-size: 1rem;
    line-height: 1.3rem;
  }
  .whatido-list {
    top: 49rem;
    left: 23%;
  }
  .whatido-01 {
    top: 6rem;
  }
  .whatido-02 {
    top: 32.6rem;
  }
  .whatido-03 {
    top: 50rem;
  }
  .whatido-01, .whatido-02, .whatido-03 {
    max-width: 340px;
    font-size: 1rem;
    line-height: 1.3rem;
  }
  .whatido-01 b, .whatido-02 b, .whatido-03 b {
    max-width: 340px;
    font-size: 3.6rem;
    line-height: 36px;
  }

}



/* Leadership's section */

.leadership {
  @apply container mx-auto;
  }
.leadership h2 {
  @apply text-6xl md:text-8xl lg:text-9xl tracking-tight pt-12;
  line-height: 62%;
}
.currentRole {
  @apply w-full flex justify-center items-center px-0 py-16;
}
.currentRole div {
  @apply rounded-full;
}


@media (min-width: 768px) {
  section .leadership {
    @apply relative;
    padding: 4rem 0 6rem;
  }
  .leadership h2 {
    @apply m-0 p-0  mx-auto;
    font-size: 8rem;
    max-width: 37rem;
    mix-blend-mode: multiply;
  }
  .currentRole {
    @apply absolute -bottom-48 right-8 bg-white rounded-full shadow-lg;
    width: 22rem; height: 22rem;
  }
  .currentRole div {
    @apply p-16;
  }
}

/* @media (min-width: 1280px) {
} */
@media (min-width: 1536px) {
  section .leadership {
    @apply relative py-24;
    max-width: 1536px;
  }
  .leadership div:first-of-type > div:first-child {
    width: 50%
  }
  .currentRole {
    @apply right-16;
    width: 26rem; height: 26rem;
  }
}
.leadership h2 {
  @apply text-gray-800 tracking-tight font-extrabold uppercase newFont;
  background: #1F2938;
  background: -webkit-linear-gradient(to top right, #eee 50%, #2AF6FF 50%);
  background: -moz-linear-gradient(to top right, #eee 50%, #2AF6FF 50%);
  background: linear-gradient(to top right, #eee 50%, #2AF6FF 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.leadership div ul {
  @apply space-y-1 text-gray-500 text-sm md:text-xs lg:text-sm mt-6;
  padding: 1.4rem 0 0;
  margin: 0;
}
.currentRole p:last-of-type {
  @apply text-gray-400 text-sm md:text-xs mt-2 md:w-48;
}


/* Hero photo banner */

/* .photo-banner {
  @apply bg-cover bg-right h-auto text-white py-24 px-10 mt-16 object-fill;
  background-image: url(img/banner/banner01.jpg);
  }

@media (min-width: 768px) {
  .photo-banner {
    @apply py-64 -mt-32;
    clip-path: polygon(46% 0, 100% 0, 100% 100%, 0 100%, 0 50%);
    }
}
@media (min-width: 1024px) {
  .photo-banner {
    clip-path: polygon(36% 0, 100% 0, 100% 100%, 0 100%, 0 60%);
  }
}
@media (min-width: 1280px) {
  .photo-banner {
    clip-path: polygon(28% 0, 100% 0, 100% 100%, 0 100%, 0 60%);
  }
}
@media (min-width: 1536px) {
  .photo-banner {
    
  }
} */


.ios-image {
  @apply absolute top-0;
  width: 90%; height: 573px; 
  object-fit: cover;
}
@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */ 
  .ios-image {
    @apply left-0;
    width: 100%;
    mix-blend-mode: normal;
  }
  #home section.intro  {
    background-image: none;
  }
  #home section.currently  {
    background-image: none;
  }
  #home section .leadership h2  {
    @apply text-8xl pt-4;
    text-align: left;
    margin-left: 0;
  }
}
@supports not (-webkit-touch-callout: none) {
  /* CSS for other than iOS devices */ 
  .ios-image {
    mix-blend-mode: screen;
  }
}


body#template main {
    @apply lg:col-span-3;
    padding: 8vw inherit 0;
}

body#template .whatido {
 @apply relative md:pb-16; 
}
body#template .whatido::after {
  @apply absolute bottom-0 left-0 w-20 h-0 md:h-4 bg-gray-100;
  content: "";
}

body#template section {
    @apply space-y-8 md:space-y-0;
    padding: 0;
}
body#template .section {
    @apply w-auto space-y-8 md:space-y-16;
    padding: 4vw 8vw 4vw;
    mix-blend-mode: multiply;
}
body#template section:first-of-type {
    @apply pt-24;
}
@media (min-width: 1024px) {
    body#template section:first-of-type {
        padding: 4vw 8vw 0vw;
    }
    body#template section:first-of-type .section {
        paddinbottom: 0vw;
    }
}

body#template section .separator {
    padding: 4vw 8vw;
} body#template section .separator span {
  @apply text-gray-400 text-xxs;
}


body#template div.section-header span {
    @apply block bg-accent float-left;
    height: 16px; width: 16px;
}
body#template h2 {
    @apply mx-auto lg:max-w-7xl text-lg font-extrabold tracking-tight uppercase text-gray-800 border-r border-gray-800;
    line-height: 0.9;
    margin: 0 8vw;
}

body#template h2.large-thin {
  @apply md:max-w-xl text-4xl font-thin tracking-tight normal-case text-gray-800 border-none leading-tight;
  padding: 4vw 0 2vw;
  margin: inherit 0;
}

body#template section h1 {
    @apply text-7xl text-gray-900 font-extrabold tracking-tight uppercase newFont;
}
body#template h3 {
    @apply text-2xl font-extrabold tracking-tight pt-8 border-0;
}
body#template h4 {
    @apply text-xl font-extrabold tracking-tight pt-8;
}
body#template h5 {
    @apply text-gray-800 font-bold tracking-tight pt-4;
}
body#template section p, body#template ul li {
    @apply text-base text-gray-500 leading-6 antialiased md:max-w-lg lg:max-w-md;
}

body#template ul.default-list {
    @apply space-y-2;
}
body#template ul.default-list li {
    @apply py-1 px-8 rounded-md flex relative;
}
    body#template ul.default-list li span {
        @apply absolute block w-3 h-3 bg-gray-200 -ml-8 mr-4;
        margin-top: 0.35rem;
    }

body#template .boxes-list li, body#template .boxes-list div {
  @apply flex items-start md:max-w-lg lg:max-w-md py-3 md:py-6 rounded-md;
  
}
  body#template .boxes-list span {
      @apply block flex-shrink-0 p-2 text-center font-bold rounded-r-sm;
      margin: .25rem inherit;
  }
  body#template .boxes-list p {
      @apply pl-6 pr-8;
  }

body#template .max-two-cols {
    @apply md:grid md:grid-cols-2 gap-4 space-y-2 md:space-y-0;
}
body#template .max-three-cols {
  @apply md:grid md:grid-cols-3 gap-4 space-y-2 md:space-y-0;
}

body#template ul.boxes-list.light li {
    @apply md:bg-gray-50;
    background: rgb(249,250,251);
    background: linear-gradient(30deg, rgba(249,250,251,1) 70%, rgba(243,244,246,1) 30%);
}
    body#template ul.boxes-list.light li span {
        @apply bg-gray-200;
    }

body#template .boxes-list.dark li, body#template .boxes-list.dark div {
    @apply bg-gray-600 text-gray-200;
    background: rgb(75,85,99);
    background: linear-gradient(30deg, rgba(75,85,99,1) 70%, rgba(55,65,81,1) 30%);
}
  body#template .boxes-list.dark span {
      @apply text-gray-200 bg-gray-700;
  }
  body#template .boxes-list.dark p {
      @apply text-gray-200;
  }


body#template .large-text {
    @apply text-xl leading-7 max-w-md;
}
body#template .date {
    @apply text-xs text-gray-500 uppercase mb-4 antialiased;
}
body#template p.text-small {
    @apply text-xs leading-tight pt-24;
}
body#template .section div img {
    @apply rounded-md shadow-2xl;
}
body#template .section div img.noshadow {
    @apply shadow-none;
}


body#template .grid-image {
    @apply md:grid md:grid-cols-2 xl:grid-cols-3 md:gap-x-16 xl:gap-x-20 space-y-12 md:space-y-2 ;
}
    body#template .grid-image div:first-of-type {
        @apply space-y-6;
    }
    body#template .grid-image div:last-of-type {
        @apply xl:col-span-2;
    }
    body#template .grid-image div.bg-top-left {
        @apply xl:col-span-2;
        background: rgb(75,85,99);
        background: linear-gradient(160deg, rgba(41,246,255,1) 25%, rgba(255,255,255,.15) 25%);
    }
    body#template .grid-image div.bg-bottom-right {
        @apply xl:col-span-2;
        background: rgb(75,85,99);
        background: linear-gradient(160deg, rgba(255,255,255,1) 75%, rgba(42,246,255,1) 75%);
    }
    body#template .grid-image div img {
      @apply object-cover;
  }

body#template .quote {
    @apply max-w-xs space-y-4 pl-8 border-l-8 border-gray-100;
}
    body#template .quote p:first-of-type {
        @apply text-xl leading-7 max-w-md;
    }
    body#template .quote .quoter div:first-of-type {
        @apply text-sm font-medium;
    }
    body#template .quote .quoter div:last-of-type {
        @apply text-sm text-gray-400;
    }

body#template aside {
    @apply hidden xl:block flex-none w-1/4 relative;
}
body#template nav {
    @apply w-48 mx-auto my-auto p-8;
}
    body#template nav ol {
        @apply space-y-0 my-0;
    }
    body#template nav li a {
        @apply text-gray-500 hover:bg-gray-50 hover:text-gray-900 flex items-center px-4 py-2 -ml-2 text-sm border-l border-white;
        transition: all 50ms ease-in-out;
    }
    body#template nav li.active > a {
        @apply border-l-accent text-gray-900;
    }




p {
  @apply text-sm font-normal leading-5 text-gray-500;
}

div.copy-columns {
  @apply lg:columns-2 gap-16 space-y-6;
}

.references {
  @apply md:columns-2 lg:columns-3 md:gap-16 lg:gap-24 pt-8 pb-24 space-y-20;
}
.references.noColumns {
  @apply sm:columns-2;
}
    .references blockquote {
      @apply md:flex-grow md:flex md:flex-col break-inside-avoid relative space-y-8;
    }
    .references blockquote::before {
      @apply w-12 h-4 bg-gray-100 mb-8;
      content: '';
    }
      .references blockquote div:first-of-type {
        @apply text-gray-500 md:flex-grow space-y-4;
      }
      .references blockquote .footer {
        @apply flex items-start space-x-4 mt-8;
      }
        .references blockquote .footer img {
          @apply w-10 h-10 rounded;
        }
        .references blockquote .footer div {
          @apply space-y-0;
        }
          .references blockquote .footer div p {
            @apply text-sm font-semibold leading-5;
          }
          .references blockquote .footer div p span {
            @apply block font-normal text-gray-400 leading-5;
          }



section h2.h-section {
  @apply w-full text-5xl md:text-7xl lg:text-8xl text-gray-800 tracking-tight font-extrabold uppercase newFont mb-16 md:mb-24 xl:mb-32 border-r border-r-gray-800;
  line-height: 62%;
  }
section .dark h2.h-section {
  @apply text-gray-50;
  }
  section h2.h-section span {
    @apply md:block md:max-w-md lg:max-w-xl;
    }
  section .dark h2.h-section {
      @apply mb-0 md:mb-8 lg:mb-24;
      }


/* Home Projects */

.project {
  @apply relative bg-gray-900;
  /* padding: 0 0 0.5vw; */
}
  .project h1 {
    @apply text-gray-200 text-xl tracking-tight leading-none mt-8 mb-8 pl-1 border-l-gray-100 border-r-accent;
    border-left-width: 75px;
    border-right-width: 18px;
    height: 18px;
  }
  .project.reverse h1 {
    @apply border-r-gray-100;
  }
  .project main {
    @apply sm:flex gap-8 mx-auto relative;
  }
    .project main div.image {
      @apply w-full flex justify-center items-center sm:w-1/2 lg:w-2/3 xl:w-3/4 p-8 mb-4 sm:mb-0;
    }
    .project.reverse main div.image {
      @apply sm:order-2;
    }
      .project main div.image img {
        @apply w-full;
      }
    .project main div.desc {
      @apply sm:w-1/2 lg:w-1/3 xl:w-1/4 space-y-4 block space-x-0 text-sm text-gray-500;
    }
    .project main div.desc div:first-of-type {
      @apply w-full text-gray-700 space-y-2;
    }
      .project main div.desc div:first-of-type time {
        @apply text-gray-400 text-sm;
      }
      .project main div.desc div:first-of-type span {
        @apply block;
      }
      .project main div.desc div:first-of-type h2 {
        @apply text-base font-bold;
      }
      .project main div.desc div:first-of-type h3 {
        @apply text-base text-gray-700 italic;
      }
    .project main div.desc div:last-of-type {
      @apply w-full sm:pr-8 space-y-8;
    }
    .project main div.desc div:last-of-type a {
      @apply inline-block px-6 py-4 bg-gray-900 text-gray-50 font-semibold rounded shadow-lg;
    }
  .project div.code-decoration {
    @apply hidden sm:block absolute bottom-14 sm:bottom-0 sm:right-0;
  }
  .project.reverse div.code-decoration {
    @apply sm:left-0;
  }
  .project div.code-decoration span {
    @apply text-gray-400 text-xxs;
  }

/* Dark mode */
div.dark {
  @apply bg-gray-900;
  /* clip-path: polygon(0 24%, 100% 0, 100% 80%, 0 100%);
  margin-top: -42rem;
  padding-top: 42rem; */
}
h2.h-section span {
  /* background: #1F2938;
  background: -webkit-linear-gradient(to top right, #6A7380 40%, #1F2938 40%);
  background: -moz-linear-gradient(to top right, #6A7380 40%, #1F2938 40%);
  background: linear-gradient(to top right, #6A7380 40%, #1F2938 40%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
.dark .project h1 {
  @apply text-gray-700 border-l-gray-700 border-r-accent;
} 
.dark .project.reverse h1 {
  @apply border-r-gray-800;
}
.dark .project main div.desc div:first-of-type time {
  @apply text-gray-500;
}
.dark .project main div.desc div:first-of-type h2 {
  @apply text-gray-100;
}
.dark .project main div.desc div:first-of-type h3 {
  @apply text-gray-300;
}
.dark .project main div.desc {
  @apply text-gray-50;
}
.dark .project main div.desc div:last-of-type a {
  @apply bg-accent text-gray-900;
}
.dark .project main div.image {
  @apply bg-gray-900 border border-gray-700;
}
.project div.code-decoration span {
  @apply text-gray-500;
}
.project div.code-decoration svg {
  @apply bg-gray-800;
}

.transformation-box {
  @apply max-w-xl;
}
  .transformation-box ol {
    @apply border border-white rounded-md md:flex md:divide-y-0;
  }
  .transformation-box ol li {
    @apply relative md:flex-1 md:flex bg-gray-100;
  }
    .transformation-box ol li p {
      @apply p-8 flex items-start;
    }
    .transformation-box ol li p span {
      @apply ml-4 text-gray-500 group-hover:text-gray-900;
    }

footer {
  @apply hidden md:block fixed bottom-0 right-0 p-6 lg:p-10;
} 
  footer svg {
    @apply block float-right;
  } 
  footer p {
    @apply text-gray-400 text-xxs clear-right pt-8;
  } 


.img-top-left-cut {
  background: rgb(75,85,99);
  background: linear-gradient(160deg, rgba(41,246,255,1) 25%, rgba(255,255,255,.15) 25%);
}
.img-bottom-right-cut {
  background: rgb(75,85,99);
  background: linear-gradient(160deg, rgba(255,255,255,1) 75%, rgba(42,246,255,1) 75%);
}

/* my photo */
.photoOne  {
  @apply w-full sm:w-auto md:h-72 lg:h-96 xl:h-auto -mt-40 lg:-mt-96 pt-8;
  mix-blend-mode: color-dodge;
}
@media (min-width: 768px) {
  .photoOne  {
  }
}
@media (min-width: 1024px) {
  .photoOne   {
    right: 12%;
  }
}
@media (min-width: 1536px) {
  .photoOne   {
  }
}