@tailwind base;
@tailwind components;
@tailwind utilities;

/* npx tailwindcss -i ./src/styles.css -o ./dist/styles.css --minify --watch */



html {
    scroll-behavior: smooth;
  }

/* Typography */

html {
  @apply text-base leading-6 text-neutral-600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: neutralscale;
  text-rendering: optimizelegibility;
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, .huge, .xlarge {
  /* @apply font-black; */
  font-family: 'Inter Tight', sans-serif;
  font-weight: 700;
}
h1, h2, h3, h4 {
  @apply text-neutral-800;
}
h1 {
  @apply text-h1 leading-8;
}
h2 {
  @apply text-h4 md:text-h2 leading-7;
}
h3 {
  @apply text-h3 leading-8;
}
h4 {
  @apply text-h4 font-semibold leading-6 text-neutral-700;
}
.upper {
  @apply uppercase text-sm text-neutral-600;
}
p {
  @apply max-w-xl text-neutral-500 leading-6;
}
.large {
  @apply text-lg leading-8 max-w-xl;
}
.small {
  @apply text-sm leading-6;
}
.mini {
  @apply text-xs leading-5;
}
.xlarge {
  @apply text-xl;
  line-height: 65px;
}
.huge {
  @apply text-huge;
  line-height: 80px;
}
.logo {
  @apply text-xl md:text-huge tracking-tight;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 900;
}
.text-light {
  @apply text-neutral-500;
}
.text-vertical {
  writing-mode: vertical-lr; /* or vertical-rl */
  text-orientation: sideways;
  transform: rotate(360deg); /* or 90deg, depending on the desired orientation */
}

/* Buttons */

.btn {
  @apply inline-block py-3.5 px-6 bg-transparent hover:bg-transparent border border-neutral-300 hover:border-neutral-900 text-neutral-700 shadow;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
}
  .btn-primary {
    @apply  bg-neutral-800 hover:bg-neutral-800 text-white;
  }

/* Blocks */

section {
  @apply md:mt-48 mb-20;
}

header {
  @apply fixed flex justify-between w-full z-40 top-0 px-4 py-6  md:p-8;
}
  header div {
    @apply flex items-center justify-end gap-2 pr-2;
  }

.mobile-gutter {
  @apply px-8 md:p-0;
}

/* hover effect with js */
.img-container {
    @apply hidden md:inline-block relative w-full h-full cursor-pointer bg-neutral-900 shadow-xl hover:shadow-2xl;
  }
    .img-container img {
      transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    }
    .img-container img.logo {
      @apply absolute inset-0 mx-auto my-auto transform -translate-x-1/2 -translate-y-1/2 origin-center opacity-0;
      transform: translateX(0%);
    }
    .img-container img.left {
      transform: translateX(-20%);
    }
    .img-container img.right {
      transform: translateX(20%);
    }
    .img-container img.left.center, .img-container img.right.center {
      transform: translateX(0%);
    }


.leadershipTxt {
  @apply hidden;
  left: 2rem;
  top: 12.5rem;
  height: 310px;
  font-size: 3.2rem;
  line-height: 2.4rem;
  max-width: 37rem;
  mix-blend-mode: multiply;
  color: #fff;
  background: #1F2938;
  background: -webkit-linear-gradient(to top right, #fff 50%, #2AF6FF 50%);
  background: -moz-linear-gradient(to top right, #fff 50%, #2AF6FF 50%);
  background: linear-gradient(to top right, #fff 50%, #2AF6FF 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

  @media (min-width: 1024px) {

  .leadershipTxt {
    @apply block absolute tracking-tight font-black uppercase;
    left: 20rem;
    top: 10rem;
    height: 224px;
    font-size: 6rem;
    line-height: 4.5rem;
    max-width: 37rem;
    mix-blend-mode: multiply;
    color: #fff;
    background: #1F2938;
    background: -webkit-linear-gradient(to top right, #fff 50%, #2AF6FF 50%);
    background: -moz-linear-gradient(to top right, #fff 50%, #2AF6FF 50%);
    background: linear-gradient(to top right, #fff 50%, #2AF6FF 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

}

.references {
  @apply md:columns-2 lg:columns-3 md:gap-16 xl:gap-24 pt-8 pb-24 space-y-20;
}
.references.noColumns {
  @apply sm:columns-2;
}
    .references blockquote {
      @apply md:flex-grow md:flex md:flex-col break-inside-avoid relative space-y-8;
    }
    /* .references blockquote::before {
      @apply w-10 h-4 bg-neutral-50 my-8;
      content: '';
    } */
      .references blockquote div:first-of-type {
        @apply md:flex-grow space-y-4;
      }
      .references blockquote .footer {
        @apply flex items-start space-x-4 mt-8;
      }
        .references blockquote .footer img {
          @apply w-10 h-10 rounded-full;
        }
        .references blockquote .footer div {
          @apply space-y-0;
        }
          .references blockquote .footer div p {
            @apply font-bold leading-5 text-neutral-800;
          }
          .references blockquote .footer div p span {
            @apply block text-sm font-normal leading-5 text-neutral-600;
          }

